<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>

    <connectionStrings>
      <add name="cn" connectionString="server=.;database=CONTRATO;integrated security=SSPI"/>
    </connectionStrings>

</configuration>